<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link rel="stylesheet" type=text/html href="{{ url_for('static', filename='css/main.scss') }}"> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <header></header>

  <body>
    <header>
    </header>

    <section id="sidebar">
      <nav>
        <input type="text" name="" value="" </a>
        <a href="#" class="active">Item</a>
        <a href="#">Item</a>
        <a href="#">Item</a>
        <a href="#">Item</a>
      </nav>
    </section>

    <section id="dashboard">
      <div class="heading">
        <h1>Dashboard</h1>
      </div>

      <hr>

      <div class="charts">
        {% for name, value in json.items() %}

          <div class="chart">
          <div class="player-img"></div>
          <span class="player-name">{{name}}</span>
          <span class="player-team"></span>
          <span class="player-position"></span>

        </div>

        <div class="chart">
            <h3>Player Information</h3>
            <span class="player-info">
              <!-- {{value}} -->
            </span>
        </div>

        <div class="chart">
            <h3>Trends Over Time</h3>
            <span class="player-info">
              <!-- {{value}} -->
            </span>
        </div>

        <!-- Displays a list of the the provided news articles, or a message saying none were found. -->
        <div class="chart">
          <h3>Player News</h3>
          <span class="player-info">
            <ul>
              {% for article in articles %}
                <li>
                  <div class="news_article">
                    <div class="news_top_row">
                      <!-- <img class="news_image" src="{{article["urlToImage"]}}"> -->
                      <!-- Article name with link -->
                      <a href="{{article["url"]}}">
                        <span class="news_title">{{article["title"]}}</span>
                      </a>
                    </div>
                  {%if article["author"] is not none %}
                    <div class="news_author">{{article["author"]}}</div>
                  {% endif %}
                  <!-- Excerpt from article (styled via API). -->
                  <div class="news_description">{{article["description"]|safe}}</div>
                </div>
                </li>
              {% else %}
                <span class="news_missing">
                  No relevant news articles found for player.
                </span>
              {% endfor %}
            </ul>
          </span>
        </div>
        {% endfor %}
      </div>
    </section>
    <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
  </body>
</html>